# Default ignored files
shelf/
workspace.xml

# Editor-based HTTP Client requests
httpRequests/

# Datasource local storage ignored files
dataSources/
dataSources.local.xml

# IDEs y editores
.idea/
.vscode/
.clang-format

# Compilación
bin/
obj/
build/
dist/

# Archivos ejecutables
*.exe
*.out
*.app

# Archivos objeto
*.o
*.a
*.so
*.dll

# Archivos temporales
*.tmp
*.log
*~
.DS_Store
Thumbs.db